

  body{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  }

  h1,
  h2,
  h3,
  p,
  ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }

.search-form{
  background-color: rgb(72, 146, 202);
  padding: 10px ;
  margin-bottom: 10px;
  top :0;
  position: sticky;

}

.gallery{
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  margin: -15px;  
}

img{
  display: block;
  width: 370px;
  height: 200px;
  object-fit: cover;  
}

.photo-card{
  margin: 15px;
  border-radius: 4px;
  overflow: hidden;

}

.info{
  margin-top: 10px;
  width: 370px;
  display: flex;
}

.info-item{
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}